


$helvetica: 'Helvetica Neue';

$c-black: #18181a !default;

$lightGrey: #F3F3F3;

$dark_bg: #171f29 !important;

$white_shade: #f7faff;

$dark_border: #252d37;

/************************ DASHBOARD UI KIT ***********************/

$ui_header_bg: #131523;

$grey: #e8eef3;

$light_grey: #f1f1f3;

$dark_grey: #616e80;

$darkest_grey: #4d4f5c;

$dark_text: #28313c;

$light_text: #99A5B5;

$purple: #685BC6;

$red: #D30000;

$yellow: #FCBD01;

$light_green: #39e500;

$dark_green: #2CB100;

$additional_grey: #F2F4F7;

$pink: #ea4c89;

$amt_grey: #e7e9eb;

$primary_surface: #33f7ed !default;

$primary_bg: #282227 !default;





// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #121212 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

// $purple:    $purple !default;
$indigo:  #6610f2 !default;
$purple:  #685BC6 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

